/* ====================================
   Site colors
   ==================================== */

/*
   Brand colors
   ==================================== */

// "color-" could be changed to "client-name"

$color-burple: #5D44FE;
$color-gray: #cccccc;
$color-light-gray: #E9E9E9;
$color-dark-gray: #737373;
$color-black: #373737;
$color-red: #FC4246;



/*
   Text colors
   ==================================== */

$color-text: $color-black;
$color-link: $color-red;
$color-link-hover: $color-red;

/*
   Third party brand colors
   ==================================== */

$color-facebook: #03539e;
$color-twitter: #35ccff;
$color-linkedin: #217bc1;
